#map {
    height: 100vh;
}

.mapboxgl-marker {
    background-image: url('images/gray_icon.png');
    width: 20px;
    height: 48px;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 600px !important;
}

.list-group-item {
    user-select: none;
}

.info-icon:hover {
    cursor: pointer !important;;
}

#items:hover {
    cursor: grab;
}

.chosen {
    z-index: 2;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    opacity: 1;
}

.drag {
    opacity: 0;
}

.ghost {
    opacity: 1;
}
