#map {
    height: 100vh;
}

.mapboxgl-marker {
    background-image: url('images/gray_icon.png');
    width: 20px;
    height: 48px;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 600px !important;
}

.info-icon {
    margin-left: 3px;
}
