{% extends "map/layout.html" %}
{% load static %}

{% block title %}RankTheRenewables - Sources{% endblock %}

{% block body %}
<div class="container-fluid background-container flex-grow-1">
    <div class="container" id="sources-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card border overflow-auto source-card">
                    <div class="card-body">
                      <h5 class="card-title">Economic Impact</h5>
                      <p class="card-text">Baban, S. M. (2004). Developing a geoinformatics-based approach to locate wind farms in the Caribbean region, using Trinidad and Tobago as a case study. In Proceedings of the Second Caribbean Environmental Forum and Exhibition (GEF-2) on CD.
                        <br><br>
                        Bilgili, M., Yasar, A., & Simsek, E. (2011). Offshore wind power development in Europe and its comparison with onshore counterpart. Renewable and Sustainable Energy Reviews, 15(2), 905-915.
                        <br><br>
                        Blechinger, P., Cader, C., Bertheau, P., Huyskens, H., Seguin, R., & Breyer, C. (2016). Global analysis of the techno-economic potential of renewable energy hybrid systems on small islands. Energy Policy, 98, 674-687.
                        <br><br>
                        Gonzalez-Rodriguez, A. G. (2017). Review of offshore wind farm cost components. Energy for Sustainable Development, 37, 10-19.
                        <br><br>
                        Kuik, M. (2021). A geodiversity-based suitability analysis on underground electricity cables on Aruba (Issue May). Universiteit van Amsterdam.
                        <br><br>
                        Rogers, T., Ashtine, M., Koon, R. K., & Atherley-Ikechi, M. (2019). Onshore wind energy potential for Small Island Developing States: Findings and recommendations from Barbados. Energy for Sustainable Development, 52, 116-127.
                        </p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6">
                <div class="card border overflow-auto source-card">
                    <div class="card-body">
                      <h5 class="card-title">Energy Efficiency</h5>
                      <p class="card-text">Global wind atlas (n.d.). Accessed on 23 June 2021 from Global Wind Atlas
                        <br><br>
                        European commission (n.d.). Photovoltaic geographical information system. Accessed on 23 June 2021 from JRC Photovoltaic Geographical Information System (PVGIS) - European Commission (europa.eu)
                        <br><br>
                        McBride, A. (2021, 15 January). Comprehensive guide to solar panel types. Accessed on 23 June 2021 from Comprehensive Guide to Solar Panel Types - Aurora Solar
                        <br><br>
                        Windpower (2010, 26 January). How to calculate power output of wind.  Accessed on 23 June 2021 from How To Calculate Power Output Of Wind | Windpower Engineering
                        </p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card border overflow-auto source-card">
                    <div class="card-body">
                      <h5 class="card-title">Environmental Impact</h5>
                      <p class="card-text">Alto Vista Trail and Beach Road Loop (2021), All trails Aruba. Accesed from: https://www.alltrails.com/trail/aruba/aruba/alto-vista-stroll
                        <br><br>
                        Aruba Sand Dunes (2021), Natural Wonders of Aruba. Accessed from: https://www.aruba.com/us/explore/sand-dunes
                        <br><br>
                        Aruba Snorkling, The Complete Guide (2006), TropicalSnorkling.com, Accessed from: https://www.tropicalsnorkeling.com/aruba-snorkeling.html
                        <br><br>
                        Bergström, L., Kautsky, L., Malm, T., Rosenberg, R., Wahlberg, M., Capetillo, N. Å., & Wilhelmsson, D. (2014). Effects of offshore wind farms on marine wildlife—a generalized impact assessment. Environmental Research Letters, 9(3), 034012.
                        <br><br>
                        Eakin, C. M., Feingold, J. S., & Glynn, P. W. (1993, June). Oil refinery impacts on coral reef communities in Aruba. In Proceedings of the Colloquium on Global Aspects of Coral Reefs, Health, Hazards and History (pp. 139-145).
                        <br><br>
                        DEL NEVO, A. D. R. I. A. N. (2008). s ARUBA.
                        <br><br>
                        Lowry, H., Lill, A., & Wong, B. B. (2011). Tolerance of auditory disturbance by an avian urban adapter, the noisy miner. Ethology, 117(6), 490-497.
                        <br><br>
                        North Coast of Aruba (2021), The unexpected suprises of the northern coast of Aruba. Accessed from: https://wondersofaruba.com/the-unexpected-surprises-on-the-north-coast-of-aruba/
                        <br><br>
                        Perrow, M. (Ed.). (2017). Wildlife and Wind Farms-Conflicts and Solutions: Onshore: Potential Effects. Pelagic Publishing Ltd.
                        <br><br>
                        Prins, T. G., Reuter, J. H., Debrot, A. O., Wattel, J., & Nijman, V. (2009). Checklist of the birds of Aruba, Curaçao and Bonaire, south Caribbean. Ardea, 97(2), 137-268.
                        <br><br>
                        Willemsen, M. (2011). Natuurreservaat Arikok.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6">
                <div class="card border overflow-auto source-card">
                    <div class="card-body">
                      <h5 class="card-title">Social Impact</h5>
                      <p class="card-text">Aruba Tourism Authority (ATA) (n.d.). Sand dunes. Retrieved at June 18, 2021 from https://www.aruba.com/uk/explore/sand-dunes
                        <br><br>
                        Aruba Tourism Authority (ATA) (n.d.). Sand dunes in Aruba. Retrieved at June 18, 2021 from https://www.aruba.com/us/explore/sand-dunes
                        <br><br>
                        Baban, S. M. (2004). Developing a geoinformatics-based approach to locate wind farms in the Caribbean region, using Trinidad and Tobago as a case study. In Proceedings of the Second Caribbean Environmental Forum and Exhibition (GEF-2) on CD. http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.1041.206&rep=rep1&type=pdf
                        <br><br>
                        Baban, S. M., & Parry, T. (2001). Developing and applying a GIS-assisted approach to locating wind farms in the UK. Renewable energy, 24(1), 59-71.
                        https://www.sciencedirect.com/science/article/pii/S0960148100001695
                        <br><br>
                        Botterill, L. C., & Cockfield, G. (2016). The relative importance of landscape amenity and health impacts in the wind farm debate in Australia. Journal of Environmental Policy & Planning, 18(4), 447-462. https://www.tandfonline.com/doi/full/10.1080/1523908X.2016.1138400
                        <br><br>
                        Caribisch Netwerk (2015, May 26). Proces hindervergunning windmolenpark Urirama moet   overnieuw. Retrieved at June 4, 2021 from
                        https://caribischnetwerk.ntr.nl/2015/05/26/proces-hindervergunning-windmolenpark-   	urirama-moet-overnieuw/
                        <br><br>
                        Caribisch Netwerk (2018, April 8). Windmolenpark Urirama van de baan. Retrieved at June 4, 2021 from https://caribischnetwerk.ntr.nl/2018/04/25/windmolenpark-urirama-van-de-baan/
                        <br><br>
                        Dröes, M. I., & Koster, H. R. (2016). Renewable energy and negative externalities: The effect of wind turbines on house prices. Journal of Urban Economics, 96, 121-141.
                        https://www.sciencedirect.com/science/article/pii/S0094119016300432
                        <br><br>
                        Van der Horst, D., & Toke, D. (2010). Exploring the landscape of wind farm developments; local area characteristics and planning process outcomes in rural England. Land Use Policy, 27(2), 214-221. https://www.sciencedirect.com/science/article/pii/S0264837709000635
                        <br><br>
                        Water- en Energiebedrijf Aruba (WEB) (n.d.). Windpark Vaderpiet Fact Sheet. Retrieved at June 18, 2021 from https://www.powerpeers.nl/media/118404/windpark-vader-piet-aruba-factsheet.pdf
                        <br><br>
                        Questionnaire among Arubans
                        </p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let current_nav_button = document.getElementsByClassName('nav-link')[1]
            current_nav_button.classList.add('active')
        })
    </script>
{% endblock %}